{

"vcenter01": {
	"cfg_list": [
		
        {
			"hostname": "syslog01",
			"port": 5010,
			"protocol": "TCP"
		},
        {
			"hostname": "syslog02",
			"port": 514,
			"protocol": "TCP"
		},
        {
			"hostname": "syslog03",
			"port": 514,
			"protocol": "TCP"
		}
	]
},
"vcenter02": {
	"cfg_list": [
		
        {
			"hostname": "syslog01",
			"port": 5010,
			"protocol": "TCP"
		},
        {
			"hostname": "syslog02",
			"port": 514,
			"protocol": "TCP"
		},
        {
			"hostname": "syslog03",
			"port": 514,
			"protocol": "TCP"
		}
	]
},
"vcenter03": {
	"cfg_list": [
		
        {
			"hostname": "syslog01",
			"port": 5010,
			"protocol": "TCP"
		},
        {
			"hostname": "syslog02",
			"port": 514,
			"protocol": "TCP"
		},
        {
			"hostname": "syslog03",
			"port": 514,
			"protocol": "TCP"
		}
	]
}

}
